In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
dataset = pd.read_csv('FYP_final_dataset.csv')

In [3]:
dataset.head()

,Unnamed: 0,match_id,season,team1,team2,winner,result,inning,batting_team,bowling_team,over,ball,is_super_over,batsman,non_striker,batsman strike rate,batsman average,bowler,bowler strike rate,bowler average,bowler economy rate,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dl_applied
0,0,1,2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
1,1,1,2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
2,2,1,2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,4,0,4,0,0
3,3,1,2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
4,4,1,2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,2,0,0,0,0,0,2,2,0,0

In [4]:
dataset.total_runs.unique()

array([ 0,  4,  2,  1,  6,  3,  5,  7, 10,  8], dtype=int64)

In [5]:
dataset.result.unique()

array(['normal', 'tie', 'no result'], dtype=object)

In [6]:
dataset.team2.unique()

array(['Royal Challengers Bangalore', 'Rising Pune Supergiant',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rajasthan Royals', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [7]:
dataset.replace(to_replace='Rising Pune Supergiants',value='Rising Pune Supergiant',inplace=True)

In [8]:
encode = {'team1': {'Mumbai Indians':1,'Kolkata Knight Riders':2,'Royal Challengers Bangalore':3,'Delhi Capitals':4,'Chennai Super Kings':5,'Rajasthan Royals':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Kings XI Punjab':9,'Sunrisers Hyderabad':10,'Rising Pune Supergiant':11,'Kochi Tuskers Kerala':12,'Pune Warriors':13,'Deccan Chargers':14},
'team2': {'Mumbai Indians':1,'Kolkata Knight Riders':2,'Royal Challengers Bangalore':3,'Delhi Capitals':4,'Chennai Super Kings':5,'Rajasthan Royals':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Kings XI Punjab':9,'Sunrisers Hyderabad':10,'Rising Pune Supergiant':11,'Kochi Tuskers Kerala':12,'Pune Warriors':13,'Deccan Chargers':14}}
dataset.replace(encode,inplace=True)
dataset.head()

,Unnamed: 0,match_id,season,team1,team2,winner,result,inning,batting_team,bowling_team,over,ball,is_super_over,batsman,non_striker,batsman strike rate,batsman average,bowler,bowler strike rate,bowler average,bowler economy rate,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dl_applied
0,0,1,2017,10,3,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
1,1,1,2017,10,3,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
2,2,1,2017,10,3,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,4,0,4,0,0
3,3,1,2017,10,3,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
4,4,1,2017,10,3,Sunrisers Hyderabad,normal,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,2,0,0,0,0,0,2,2,0,0

In [9]:
encode = {'winner': {'Mumbai Indians':1,'Kolkata Knight Riders':2,'Royal Challengers Bangalore':3,'Delhi Capitals':4,'Chennai Super Kings':5,'Rajasthan Royals':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Kings XI Punjab':9,'Sunrisers Hyderabad':10,'Rising Pune Supergiant':11,'Kochi Tuskers Kerala':12,'Pune Warriors':13,'Deccan Chargers':14},
'batting_team': {'Mumbai Indians':1,'Kolkata Knight Riders':2,'Royal Challengers Bangalore':3,'Delhi Capitals':4,'Chennai Super Kings':5,'Rajasthan Royals':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Kings XI Punjab':9,'Sunrisers Hyderabad':10,'Rising Pune Supergiant':11,'Kochi Tuskers Kerala':12,'Pune Warriors':13,'Deccan Chargers':14},
'bowling_team': {'Mumbai Indians':1,'Kolkata Knight Riders':2,'Royal Challengers Bangalore':3,'Delhi Capitals':4,'Chennai Super Kings':5,'Rajasthan Royals':6,'Delhi Daredevils':7,'Gujarat Lions':8,'Kings XI Punjab':9,'Sunrisers Hyderabad':10,'Rising Pune Supergiant':11,'Kochi Tuskers Kerala':12,'Pune Warriors':13,'Deccan Chargers':14}}

dataset.replace(encode,inplace=True)
dataset['result'].loc[dataset['result'] == 'normal'] = 0
dataset['result'].loc[dataset['result'] == 'tie'] = 1
dataset['result'].loc[dataset['result'] == 'no result'] = 2

dataset.head()

c:\users\sarve\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Unnamed: 0,match_id,season,team1,team2,winner,result,inning,batting_team,bowling_team,over,ball,is_super_over,batsman,non_striker,batsman strike rate,batsman average,bowler,bowler strike rate,bowler average,bowler economy rate,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dl_applied
0,0,1,2017,10,3,10.0,0,1,10,3,1,1,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
1,1,1,2017,10,3,10.0,0,1,10,3,1,2,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
2,2,1,2017,10,3,10.0,0,1,10,3,1,3,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,4,0,4,0,0
3,3,1,2017,10,3,10.0,0,1,10,3,1,4,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
4,4,1,2017,10,3,10.0,0,1,10,3,1,5,0,DA Warner,S Dhawan,145.696667,62.68,TS Mills,21.4,30.6,8.57,2,0,0,0,0,0,2,2,0,0

In [10]:
dataset.columns

Index(['Unnamed: 0', 'match_id', 'season', 'team1', 'team2', 'winner',
       'result', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'is_super_over', 'batsman', 'non_striker', 'batsman strike rate',
       'batsman average', 'bowler', 'bowler strike rate', 'bowler average',
       'bowler economy rate', 'wide_runs', 'bye_runs', 'legbye_runs',
       'noball_runs', 'penalty_runs', 'batsman_runs', 'extra_runs',
       'total_runs', 'player_dismissed', 'dl_applied'],
      dtype='object')

In [11]:
dataset= dataset.drop(['Unnamed: 0',
       'batsman', 'non_striker',
       'bowler'],axis=1)

In [12]:
dataset.head()

,match_id,season,team1,team2,winner,result,inning,batting_team,bowling_team,over,ball,is_super_over,batsman strike rate,batsman average,bowler strike rate,bowler average,bowler economy rate,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dl_applied
0,1,2017,10,3,10.0,0,1,10,3,1,1,0,145.696667,62.68,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
1,1,2017,10,3,10.0,0,1,10,3,1,2,0,145.696667,62.68,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
2,1,2017,10,3,10.0,0,1,10,3,1,3,0,145.696667,62.68,21.4,30.6,8.57,0,0,0,0,0,4,0,4,0,0
3,1,2017,10,3,10.0,0,1,10,3,1,4,0,145.696667,62.68,21.4,30.6,8.57,0,0,0,0,0,0,0,0,0,0
4,1,2017,10,3,10.0,0,1,10,3,1,5,0,145.696667,62.68,21.4,30.6,8.57,2,0,0,0,0,0,2,2,0,0

In [13]:
dataset.describe()

,match_id,season,team1,team2,winner,inning,batting_team,bowling_team,over,ball,is_super_over,batsman strike rate,batsman average,bowler strike rate,bowler average,bowler economy rate,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dl_applied
count,179078.000000,179078.000000,179078.000000,179078.000000,178706.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,2013.444510,6.039709,5.895677,5.615704,1.482952,5.970834,5.964552,10.162488,3.615587,0.000452,117.028093,24.829357,19.723030,28.590189,7.940841,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897,0.049330,0.017914
std,3472.322805,3.363947,3.835276,3.682707,3.615493,0.502074,3.759773,3.761134,5.677684,1.806966,0.021263,24.567151,12.695728,9.784064,15.305506,1.750707,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422,0.216558,0.132639
min,1.000000,2008.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,2011.000000,3.000000,3.000000,2.000000,1.000000,3.000000,3.000000,5.000000,2.000000,0.000000,92.603399,13.651542,14.551897,21.411216,6.272242,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,2013.000000,6.000000,6.000000,5.000000,1.000000,6.000000,6.000000,10.000000,4.000000,0.000000,122.110000,24.093333,19.225000,25.500000,7.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,567.000000,2016.000000,9.000000,9.000000,9.000000,2.000000,9.000000,9.000000,15.000000,5.000000,0.000000,134.127500,32.422500,24.000000,33.186667,8.953333,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,11415.000000,2019.000000,14.000000,14.000000,14.000000,5.000000,14.000000,14.000000,20.000000,9.000000,1.000000,233.330000,62.680000,85.000000,141.290000,16.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000,1.000000,1.000000

In [14]:
dataset['result'].describe()

count     179078
unique         3
top            0
freq      176372
Name: result, dtype: int64

In [15]:
dataset = dataset.dropna(axis=0,how='any')

In [16]:
dataset = dataset.drop('result', axis=1)

In [17]:
dataset = dataset.drop(['wide_runs', 'bye_runs', 'legbye_runs',
       'noball_runs', 'penalty_runs', 'batsman_runs', 'extra_runs'],axis=1)

In [18]:
dataset.head()

,match_id,season,team1,team2,winner,inning,batting_team,bowling_team,over,ball,is_super_over,batsman strike rate,batsman average,bowler strike rate,bowler average,bowler economy rate,total_runs,player_dismissed,dl_applied
0,1,2017,10,3,10.0,1,10,3,1,1,0,145.696667,62.68,21.4,30.6,8.57,0,0,0
1,1,2017,10,3,10.0,1,10,3,1,2,0,145.696667,62.68,21.4,30.6,8.57,0,0,0
2,1,2017,10,3,10.0,1,10,3,1,3,0,145.696667,62.68,21.4,30.6,8.57,4,0,0
3,1,2017,10,3,10.0,1,10,3,1,4,0,145.696667,62.68,21.4,30.6,8.57,0,0,0
4,1,2017,10,3,10.0,1,10,3,1,5,0,145.696667,62.68,21.4,30.6,8.57,2,0,0

In [19]:
from sklearn.model_selection import train_test_split

X = dataset[['match_id', 'season', 'team1', 'team2', 'winner',
       'inning', 'batting_team', 'bowling_team','over', 'ball','is_super_over',
       'batsman strike rate', 'batsman average',
       'bowler strike rate', 'bowler average',
       'bowler economy rate']]
y = dataset[['total_runs','player_dismissed']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [21]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100)

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

MemoryError: could not allocate 20971520 bytes

In [ ]:
pred_df = pd.DataFrame(y_pred)
pred_df.head()

In [ ]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test['total_runs'], pred_df[0]))

In [ ]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test['player_dismissed'], pred_df[1]))

In [ ]:
import pandas as pd
feature_imp = pd.Series(clf.feature_importances_,index=X_train.columns).sort_values(ascending=False)
feature_imp

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# Creating a bar plot
sns.barplot(x=feature_imp, y=feature_imp.index)
# Add labels to your graph
plt.xlabel('Feature Importance Score')
plt.ylabel('Features')
plt.title("Visualizing Important Features")
plt.legend()
plt.show()